<header>
  <div class="container">
    <a href="#" class='logo'>This is Cheese</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/about">The Story</a></li>
        <li><a href="#" routerLink="/cheese">Shop</a></li>
        <li class="cart-tag"><a href="#" routerLink="/cart">
          Cart <p class='cart-count'>{{cartLength}}</p>
        </a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="contaier">
  <router-outlet></router-outlet>
</div>
