@import'../../styles.scss';

h1{ 
    margin-left: 2em
}

.cart-container{
    width: 60%;
    height: 100%;
    padding: 2em;
    margin: 2em auto;
    border: 1px solid $secondary;
    border-radius: 10px;
    div{
        width: 300px;
        text-align: right;
        font-size: 1.5rem;
    }
    p{
        margin-top: 0;
    }
    ul{
        list-style: none;
        font-size: 1.25rem;
        padding-left: 0;
        li{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: .5em;
            border-bottom: 1px solid lightgray;
            height: 200px;
        }
        img{
            height: 100%;
            width: 250px;
            object-fit: cover;
            border-bottom: 1px solid lightgray;
        }
        .delete-btn{
            @include button2;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 2px 5px;
            background: lighten(#000, 10%);
            color: #fff;
            border: none;
            width: 100px;
            &:hover{
                background: #000;
                color: #fff;
            }
        }
    }
}


.total{
    margin: 0 0 0 auto;
    width: 220px !important;
    h2{
        font-weight: 200;
        text-align: right;
    }
    p{
        text-align: center;
        color: #fff;
        width: 220px;
        padding: 5px 10px;
        cursor: pointer;
        background: #20913c;
        border: none;
        border-radius: 2px;
        font-size: 1.25rem;
    }
}

@media (max-width: 1053px){
    .cart-container{
        li{
            height: 25vw !important;
            p{
                margin: 0;
            }
        }
        img{
            width: 48% !important;
        }
        .delete-btn{
            margin-top: 10px;
        }
    }
}

@media (max-width: 610px){
    .cart-container{
        font-size: 1.25rem;
    }
    .total {
        margin: auto;
        h2{
            font-size: 1.75rem;
        }
    }
}

@media (max-width: 480px){
    .delete-btn{
        height: 30px;
    }
}