@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&display=swap");

$primary: #ccb220;
$secondary: #9e7068;

$font1: 'Dancing Script', cursive;
$font2: 'Open Sans Condensed', sans-serif;
@mixin button1 {
    width: 200px;
    font-size: 16px;
    border-radius: 10% 5%;
    border: none;
    color: #fff;
    background-color: $secondary;
    &:hover{
        background-color: lighten($secondary, 5%)
    }
}

@mixin button2 {cursor: pointer;
    background: #fff;
    border: 1px solid gray;
    border-radius: 10%;
    font-size: 30px;
    font-weight: 500;
    height: 40px;
    width: 40px;
    margin-left: .5em;
    &:hover{
        color: lighten(#000, 30%);
    }
}

body{
    margin: 0 auto;
    font-family: $font2;
    font-size: 18px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header{ 
    background: $primary;
    padding: 1em 0;
    .menu-icon{
        display: none;
        width: 20px;
        height: 20px;
        margin-top: .25em;
        float: right;
        cursor: pointer;
        background-size: cover;
        background-image: url('./assets/icons/hamburger-menu.webp');
    }
    .side-menu{
        display: none;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    a.logo{
        font-size: 20px;
        margin: 0 0;
        font-family: $font1;
    }

    .full-menu{
        float: right;
        ul{
            list-style: none;
            margin: 0;
            display: flex;
            position: relative;
            li a {
                padding: 1em;
                &:hover{
                    background: darken($primary, 10%);
                }
            }
        };
    }
}

@media (max-width: 575px){
    header{
        padding: .5em;
    }
    .full-menu{
        display: none;
    }
    .menu-icon{
        display: inherit !important;
    }
    .side-menu{
        position: absolute;
        right: 0;
        width: 45%;
        height: 100vh;
        background: #ccb220e1;
        z-index: 5;
        .close-btn{
            cursor: pointer;
            font-weight: 600;
            width: 20px;
            height: 20px;
            border: 1.25px solid black;
            border-radius: 4px;
            text-align: center;
            padding-bottom: 2px;
        }
        nav{
            display: flex;
            flex-direction: column;
        }
        ul{
            list-style-type: none;
        }
    }
}
