@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans+Condensed:wght@300&display=swap");

$primary: #ccb220;
$secondary: #9e7068;

$font1: 'Dancing Script', cursive;
$font2: 'Open Sans Condensed', sans-serif;
@mixin button1 {
    width: 200px;
    font-size: 16px;
    border-radius: 10% 5%;
    border: none;
    color: #fff;
    background-color: $secondary;
    &:hover{
        background-color: lighten($secondary, 5%)
    }
}

@mixin button2 {cursor: pointer;
    background: #fff;
    border: 1px solid gray;
    border-radius: 10%;
    font-size: 30px;
    font-weight: 500;
    height: 40px;
    width: 40px;
    margin-left: .5em;
    &:hover{
        color: lighten(#000, 30%);
    }
}

body{
    margin: 0 auto;
    font-family: $font2;
    font-size: 18px;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

// LARGE MENU
header{ 
    background: $primary;
    padding: 1em 0;
    a{
        color: #fff;
        text-decoration: none;
        &hover{
            background: darken($primary, 10%);
        }
    }
    a.logo{
        font-size: 20px;
        margin: 0 0;
        font-family: $font1;
    }
    .full-menu{
        float: right;
        ul{
            list-style: none;
            margin: 0;
            display: flex;
            position: relative;
        }
        li a {
            padding: 1em;
            &:hover{
                background: darken($primary, 10%);
            }
        }
    }
}

// MOBILE MENU
header{
    .menu-icon{
        display: none;
        width: 20px;
        height: 20px;
        margin-top: .25em;
        float: right;
        cursor: pointer;
        background-size: cover;
        background-image: url('./assets/icons/hamburger-menu.webp');
    }
    .side-menu{
        display: none;
        position: absolute;
        right: 0;
        width: 200px;
        height: 100vh;
        background: #ccb220e1;
        z-index: 5;
        // This part hides the menu
        opacity: 0;
        transform: translateX(200px);
        transition: all .2s ease-in-out;
    }
    .side-menu.active{
        opacity: 1;
        transform: translateX(0);
    }
}

// Switch from full menu to mobile menu:
@media (max-width: 575px){
    header{
        padding: .5em;
    }
    .full-menu{
        display: none;
    }
    .menu-icon{
        display: inherit !important;
    }
    .close-btn{
        cursor: pointer;
        float: right;
        font-weight: 700;
        width: 20px;
        height: 20px;
        font-size: 16px;
        border: 1.7px solid black;
        border-radius: 4px;
        text-align: center;
        padding-bottom: 2px;
    }
    .side-menu{
        display: inherit !important;
        nav{
            display: flex;
            flex-direction: column;
        }
        ul{
            list-style-type: none;
        }
    }
    .side-menu.active{
        opacity: 1;
        transform: translateX(0);
    }
    
}
