
<div class="welcome-container">
    <h2>Cheese Order</h2>
    <div class='quantity-box'>
        <p>Quantity: <span>{{ clickCounter}}</span> </p> 
        <button (click)="addClick()">+</button>
        <button (click)="subtractClick()">-</button>
        <button >Add To Cart</button>
    </div>
</div>

<div class="welcome-container search-box">
    <div>
        <form (ngSubmit)="onSubmit()">
            <input type="text" [(ngModel)]="searchTerm" (ngSubmit)="onSubmit()">
        </form>
        <button type="submit" (ngSubmit)="onSubmit()" class='search-btn'>Enter</button>
    </div>
    <div>
        <p>Search Results for: <strong>{{searchTerm}}</strong> </p>
    </div>
</div>

<div class="welcome-container search-results" [ngClass]="setClasses()">
    <!-- <ng-template [ngIf]="searchResults" [ngIfElse]="none"> -->
        <ul>
            <li *ngFor=" let obj of searchResults" class='cards'>
                <img src="../../assets//cheeses.jpg"/>
                <p>{{obj.name}}</p>
                <p>Qty {{obj.quantity}}</p>
            </li>
        </ul>
    <!-- </ng-template> -->
    <!-- <ng-template #none>
        <p>Your cart is empty.</p>
    </ng-template> -->
</div>