@import '../../styles.scss';


.home-banner{
    height: calc(100vh - 25px - 2em);
    font-family: $font1;
    .banner-img{
        background-image: url('../../assets/landscape-luca-micheli.jpg');
        background-size: cover;
        background-position: bottom;
        position: relative;
        height: 100%;
        width: 100%;
        transition: background-image 0.2s ease-in-out;
    }
    h1{
        width: 60%;
        padding: 1em;
        border: 1.5px solid #fff;   
        border-radius: 4px;
        font-size: 2.5rem;
        color: #fff;
        text-align: center;
        margin: auto;
        font-weight: 100;
        position: absolute;
        z-index: 2;
        top: 45vh;
        transform: translateX(25%);
    }
    // FADE IN ON PAGE LOAD ANIMATION
    animation: fadein 2s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    @keyframes fadein {
        from { opacity:0 }
        to { opacity:1 }
    }
    @-moz-keyframes fadein { /* Firefox */
        from { opacity:0 }
        to { opacity:1 }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from { opacity:0 }
        to { opacity:1 }
    }
}


@media (max-width: 1285px){
    .home-banner h1{
        font-size: 2rem;
    }
}

@media (max-width: 1039px){
    .home-banner h1{
        font-size: 1.75rem;
    }
}
@media (max-width: 575px){
    .home-banner{
        // When navbar changes from full menu to mobile menu:
        height: calc(100vh - 25px - 1em);
    }
}