@import '../../styles.scss';


.home-banner{
    height: 35vw;
    padding-top: 2.5vw;
    font-family: $font1;
    background-image: url('../../assets/landscape-luca-micheli.jpg');
    background-size: cover;
    background-position: bottom;
    div{
        width: 30vw;
        height: 30vw;
        border: 4px solid white;
        border-radius: 5%;
        margin: auto;
        padding: 10px;
    }
    h1{
        font-size: 3rem;
        color: #fff;
        text-align: center;
        margin: auto;
        margin-top: 40%;
        font-weight: 100;
    }
}
.cart-container{
    margin: 5vw auto;
    width: 80%;
    border: 1px solid $secondary;
    border-radius: 10px;
    padding: 1em;
    ul{
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }
    li{
        margin: 0 7px 7px 0;
        width: 120px;
        height: 160px;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    img{
        height: 100px;
        width: 120px;
        object-fit: cover;
    }
    p{
        margin: 0;
    }
    .delete-btn{
        position: absolute;
        color: #fff;
        background: #000000b6;
        height: 25px;
        width: 25px;
        font-weight: 600;
        text-align: center;
        bottom: 0;
        right: 0;
        cursor: pointer;
        &:hover{
            background: red;
        }
    }
}