
<div class="welcome-container">
    <h2>Cheese Order</h2>
    <div class='quantity-box'>
        <p>Quantity: <span>{{ clickCounter}}</span> </p> 
        <button (click)="addClick()">+</button>
        <button (click)="subtractClick()">-</button>
        <button>Add To Cart</button>
    </div>
</div>

<div class="welcome-container search-box">
    <div>
        <form (ngSubmit)="onSubmit()">
            <input type="text" [(ngModel)]="searchTerm" (ngSubmit)="onSubmit()">
        </form>
        <button type="submit" (ngSubmit)="onSubmit()" class='search-btn'>Enter</button>
    </div>
    <div>
        <p>Search Results for: <strong>{{searchTerm}}</strong> </p>
    </div>
</div>

<div class="welcome-container cart-container" >
    <ng-template [ngIf]="cart" [ngIfElse]="none">
        <ul>
            <li *ngFor=" let item of cart" class='cards'>
                <img src="../../assets//cheeses.jpg"/>
                <p>{{ item.name }}</p>
                <p>Qty {{ item.quantity }}</p>
            </li>
        </ul>
    </ng-template>

    <ng-template #none>
        <p>Your cart is empty.</p>
    </ng-template>
</div>