<h1>Cheeses</h1>

<ul *ngIf="cheese">
    <li *ngFor=" let ch of cheese">
        <p class='name'>{{ch.name}}</p>
        <p>8oz</p>
        <p>${{ch.quantity * 4}}.00</p>
        <div class="quantity-box">
            <p>Qty: <span>{{ ch.quantity }}</span> </p> 
            <button class="qty-btn" (click)="addQty(ch)">+</button>
            <button class="qty-btn" (click)="subtractQty(ch)">-</button>
        </div>
                
        <button class="add-to-cart-btn" (click)="onAdd(ch)">Add</button>
    </li>
</ul>

