@import '../../styles.scss';

h1{
    margin-left: 2em;
}
ul{
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    li{
        background: lightgray;
        padding: 1em;
        margin-right: 10px;
        width: 15%;
        height: 200px;
        margin-bottom: 1em;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        &:hover{
            transform: scale(1.02)
        }
        p{
            margin: 0;
            font-size: 1.2rem;
            text-align: right;
        }

        p.name{
            font-size: 2rem;
            text-align: left;
        }
        button{ 
            @include button1;
            cursor: pointer;
            position: absolute;
            bottom: 10px;
            left: 20%;
            padding: 7px 0;
        }
    }
}