<h1>Cheeses</h1>

<ul *ngIf="cheese">
    <li *ngFor=" let ch of cheese">
        <p class='name'>{{ch}}</p>
        <p>8oz</p>
        <p>$4.00</p>
        <button (click)="addToCart(ch)">Add</button>
    </li>
</ul>

<!-- <ul *ngIf="wines">
    <li *ngFor=" let wine of wines">
        <p class='name'>{{wine.wine}}</p>
        <p class='name'>{{wine.vintage}}</p>
        <p class='name'>{{wine.country}}</p>
        <p class='name'>{{wine.color}}</p>
        <p class='name'>{{wine.score}}</p>
    </li>
</ul> -->
