@import '../../styles.scss';

.cheese-banner{
    width: 80%;
    height: 45vh;
    border-radius: 10px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .text-box{
        position: absolute;
        color: #fff;
        padding: 1em;
        top: 25%;
        left: 15%;
        width: 40%;
        z-index: 5;
        border: 1.5px solid #fff;  
        border-radius: 4px;
        h1{
            font-family: $font1;
            margin: 0;
        }
        p{ 
            font-size: 1.75rem;
            padding: 5px 0;
            margin: 0;
        }
    }
    .img-box{
        width: 100%;
        height: 100%;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
        }
        p{
            font-size: 12px;
            color: #fff;
            text-align: right;
            bottom: 5px;
            right: 5px;
            border: none;
            position: absolute;
        }
    }
    animation: fadein 2s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    @keyframes fadein {
        from { opacity:0 }
        to { opacity:1 }
    }
    @-moz-keyframes fadein { /* Firefox */
        from { opacity:0 }
        to { opacity:1 }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from { opacity:0 }
        to { opacity:1 }
    }
}

.search-box{
    display: flex;
    margin: 1em auto;
    align-items: center;
    width: 80%;
    select{
        height: 2.2rem;
        padding: 2px;
        margin-right: 20px;
        border: none;
        border-bottom: 1px solid black;
    }
    input{
        width: 300px;
        padding: 2px;
        height: 2rem;
        border: none;
        border-bottom: 1px solid black;
    }
    button {
        @include button2;
        width: 100px;
        font-size: 1rem;
        padding: 0 20px;
    }
    p{
        margin-left: 20px;
        font-size: 1.5rem;
    }
}

.grid-container{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: auto;    
    column-gap: .5em;
    row-gap: .5em;
    .grid-item{
        background: #f7f7f7;
        height: 260px;
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;
        &:hover{
            background: darken(#f7f7f7, 5%)
        }
        img{
            object-fit: cover;
            height: 50%;
            width: 100%;
            margin: 0 auto;
        } 
        p{
            margin: 0;
            font-size: 1.2rem;
        } 
        .name{
            font-size: 1.7rem;
            text-align: center; 
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        div{
            padding: .5em;                       
            .quantity-box{
                display: flex;
                padding: 0 0;
                align-items: baseline;
            }
            .qty-btn{
                @include button2;
                border: none;
                height: 20px;
                width: 20px;
                font-size: 1.2rem;
                padding: 0 0;
            }
            .qty-btn:hover{
                transform: scale(1.02);
            }
        }
        .add-to-cart-btn{ 
            @include button1;
            cursor: pointer;
            position: absolute;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            font-size: 1.7rem;
            right: 5px;
            bottom: 5px;
        }
        
    }
}

@media (max-width: 1320px){
    .name{
        font-size: 1.25rem;
    }
}
@media (max-width: 1140px){
    .cheese-banner {
        .text-box{
            width: 60% !important;
            top: 25%;
            left: 0;
            transform: translateX(25%);
        }
        h1{font-size: 1.75rem};
        p{ font-size: 1.25rem !important };
    }
}

@media (max-width: 950px){
    .cheese-banner p{
        font-size: 1.25rem;
    }
}

@media (max-width: 785px){
    .cheese-banner{
        h1{ font-size: 1.25rem !important }
        p{ font-size: 1rem !important }
    }
    .grid-container{
        grid-template-columns: 30% 30% 30%;
        .name{ font-size: 1.5rem !important }
        p{ font-size: 1.25rem !important }
    }
}

@media (max-width: 575px){
    .cheese-banner, .search-box, .grid-container{
        width: 95%;
    }
    .cheese-banner{
        .text-box{
            width: 60% !important;
            top: 25%;
            left: 0;
            transform: translateX(25%);
        }
        h1{font-size: 1.5rem};
        p{ font-size: 1rem !important };
    }
    .search-box{
        flex-direction: column !important;
        input, select{
            width: 100%;
            margin: 0 auto;
        };
        button{
            margin: .5em auto
        }
    }
    .grid-container{
        grid-template-columns: 48% 48%;
        .name{
            font-size: 1.25rem !important;
            font-weight: 600;
        }
    }
}

