<div class='cheese-banner'>
    <div>
        <h1>Our Cheeses</h1>
        <p>Our cheeses are directly shipped from multiple expert craftsman across Italy, Turkey, Iran, France and Greece from local, sustainable farms by the hands of passionate families and individuals.</p>
    </div>
    <div>
        <img src="../../assets/sheep-farmer-dash-masoud.jpg" alt="sheep and farmer photo by dash masoud in Iran"/>
        <p>photo courtesy Dash Masoud, Iran</p>
    </div>
</div>

<ul *ngIf="cheese">
    <li *ngFor=" let ch of cheese">
        <img src='../../assets/product-1.jpg'/>
        <div>
            <p class='name'>{{ch.name}}</p>
            <p>{{ch.origin}} </p> 
            <p>8oz - ${{ch.price}}.00ea</p>
            <div class="quantity-box">
                <p>Qty: <span>{{ ch.quantity }}</span> </p> 
                <button class="qty-btn" (click)="addQty(ch)">+</button>
                <button class="qty-btn" (click)="subtractQty(ch)">-</button>
            </div>
            <button class="add-to-cart-btn" (click)="onAdd(ch)">Add</button>
        </div>
                
    </li>
</ul>


