<div class='about-banner'>
    <div  class='text-block'>
        <h1>Our Story is Their Story</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim aliquam itaque fugit autem quibusdam ipsam, dolores veniam amet facere dignissimos harum animi sint quo, ipsa necessitatibus. Deleniti voluptatum corrupti debitis?</p>
    </div>
    <div class='img-block'>
        <img src="../../assets/farmer-azin-javadzadeh.jpg" alt="farmer by azin javadzadeh"/>
        <p class='cred-tag'>photo courtesy Azin Javadzadeh</p>
    </div>
</div>

<div class='about-banner'>
    <div class='img-block'>
        <img src="../../assets/shelf-of-cheese-katrin-leinfeliner.jpg" alt="shelf of cheese katrin leinfeliner"/>
        <p class='cred-tag'>photo courtesy Katrin Leinfeliner</p>
    </div>
    <div class='text-block'>
        <h1>They Follow Centuries of Proven Traditions</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto quae vel commodi odit beatae, maxime totam id aliquam, dolorem, reiciendis numquam sequi quos rerum voluptatibus pariatur nobis velit! Tempore, illum!</p>
    </div>
</div>

<img class='bottom-banner' src='../../assets/italy-reuben-teo.jpg'/>
